.user{
    text-align: right
}

.form-search{
    width: 80% !important;
}

.header{
    z-index: 1300;
    box-shadow: 0 1px 8px rgba(0,0,0,.3);
    min-height: 4rem;
    background-color: #20232a;
}